<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: @user %>
  <div class="row">
    <div class="form-group">
      <%= f.label t("form.name_lable") %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t("form.email_lable") %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t("form.address_lable") %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t("form.phone_lable") %>
      <%= f.telephone_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t("form.password_lable") %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t("form.password_confirm_lable") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit yield(:btn_text), class: "ps-btn" %>
    </div>
  </div>
<% end %>
