<div class="ps-contact ps-section pb-80">
  <div class="ps-container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-4">
        <div class="ps-section__header mb-50">
          <h2 class="ps-section__title" data-mask="<%= t "users.password.password" %>">
            <%= t "users.password.change_password" %>
          </h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <div class="row">
              <div class="form-group">
                <%= f.label :password, t("form.new_password_lable") %><br />
                <% if @minimum_password_length %>
                  <em>(<%= t "users.password.password_min",
                    min: @minimum_password_length %>)</em><br />
                <% end %>
                <%= f.password_field :password, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, t("form.password_confirm_lable") %><br />
                <% if @minimum_password_length %>
                  <em>(<%= t "users.password.password_min",
                    min: @minimum_password_length %>)</em><br />
                <% end %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.submit t("users.password.change_password"), class: "ps-btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
