<tr>
  <td>
    <%= link_to "#", class: "ps-product__preview" do %>
      <%= show_cart_preview item %> <%= get_product_name item %>
    <% end %>
  </td>
  <td><%= t "product_price", price: item.price %></td>
  <td><%= item.quantity %></td>
  <td><%= t "product_price", price: cal_total(item.quantity, item.price) %></td>
</tr>
