<tr>
  <td>
    <%= link_to "#", class: "ps-product__preview" do %>
      <%= show_cart_preview item %> <%= item.product.name %>
    <% end %>
  </td>
  <td><%= t "product_price", price: item.price %></td>
  <td>
    <div class="form-group--number">
      <button product-id="<%= item.product_id %>" class="minus">
        <span>-</span>
      </button>
      <input readonly class="form-control" id="quantity-<%= item.product_id %>" type="text" value="<%= item.quantity %>">
      <button product-id="<%= item.product_id %>" class="plus">
        <span>+</span>
      </button>
    </div>
  </td>
  <td><%= raw t "total_price", product_id: item.product_id, price: cal_total(item.quantity, item.price) %></td>
  <td>
    <%= link_to "", remove_path(item.product_id), class: "ps-remove", method: :delete %>
  </td>
</tr>
