<%= form_for([:admin, @product], html: {multipart: true}) do |f| %>
  <%= render "shared/error_messages", object: @product %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label t("form.product_name_lable") %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label t("form.category_lable") %>
      <%= f.select :category_id ,show_select_categories, {},
        class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label t("form.price_lable") %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label t("form.quantity_lable") %>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <div class="form-group col-md-12">
      <%= f.label t("form.summary_lable") %>
      <%= f.text_area :summary, class: "form-control", row: "8" %>
    </div>
    <div class="form-group col-md-6">
      <%= fields_for :images do |p| %>
        <%= p.label t("form.image_label") %>
        <%= p.file_field :name, multiple: true, name: "images[name][]",
          class: "form-control upload-image" %>
      <% end %>
      <div id="preview"></div>
    </div>

  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.submit t("form.submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
