<div class="table-responsive">
  <table class="table table-bordered" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th><%= t "admin.products.index.number" %></th>
        <th><%= t "admin.products.index.product_name" %></th>
        <th><%= t "admin.products.index.category" %></th>
        <th><%= t "admin.products.index.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% if @products.present? %>
        <%= render @products %>
      <% end %>
    </tbody>
  </table>
  <div class="ps-pagination">
    <%= paginate @products, theme: "twitter-bootstrap-3" %>
  </div>
</div>
