<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> <%= t ".management_products" %></div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t ".number" %></th>
            <th><%= t ".product_name" %></th>
            <th><%= t ".category" %></th>
            <th><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <% if @products.present? %>
            <%= render @products %>
          <% end %>
        </tbody>
      </table>
      <div class="ps-pagination">
        <%= paginate @products, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</div>
