<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> <%= t ".management_orders" %></div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="dataTables_wrapper container-fluid dt-bootstrap4">
        <%= search_form_for [:admin, @search], remote: true do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="dataTables_length">
                <label>
                  Show
                  <%= select_tag :limit, options_from_collection_for_select(Settings.show_limit, :second, :second, selected:
                    params[:limit]), class:
                    "form-control form-control-sm", id: "limit" %>
                  entries
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                  <%= f.label :search %>
                  <%= f.search_field :name_or_email_cont,
                    class: "form-control form-control-sm", id: "search" %>
                  <%= f.submit "", class: "d-none", id: "submit" %>
              </div>
            </div>
          </div>
        <% end %>
        <div id="data">
          <%= render "list_users" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "admin/products/add_data_remote.js.erb" %>
