<div class="ps-product__column">
  <div class="ps-shoe mb-30">
    <div class="ps-shoe__thumbnail">
      <%= show_cover_image product %>
      <%= link_to "", product, class: "ps-shoe__overlay" %>
    </div>
    <div class="ps-shoe__content">
      <div class="ps-shoe__variants">
        <div class="ps-shoe__variant normal">
          <%= show_product_images product %>
        </div>
        <%= link_to t(".add_to_cart"), "javascript:void(0)", class: "item_add single-item hvr-outline-out", "product-id" => product.id %>
      </div>
      <div class="ps-shoe__detail">
        <%= link_to product.name, product, class: "ps-shoe__name" %>
        <span class="ps-shoe__price"><%= product.price %> <%= Settings.unit %></span>
      </div>
    </div>
  </div>
</div>
