<div class="ps-products-wrap pt-80 pb-80">
  <div class="ps-products" data-mh="product-listing">
    <div class="ps-product-action">
      <%= render "sort_by" %>
      <div class="ps-pagination">
        <%= paginate @products, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
    <div class="ps-product__columns">
      <% if @products.present? %>
        <%= render partial: "products/product_column",
          collection: @products, as: :product %>
      <% end %>
    </div>
    <div class="ps-product-action">
      <%= render "sort_by" %>
      <div class="ps-pagination">
        <%= paginate @products, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
  <%= render "layouts/left_bar" %>
</div>
