<div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
  <div class="ps-footer__copyright">
    <div class="ps-container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
          <p>&copy; <%= link_to t("footer.shoe_shop"), "#" %>
          <%= t "footer.copy_right" %>
          <%= link_to t("footer.vts"), "#" %></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
          <ul class="ps-social">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-google-plus"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-instagram"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

